.plan-table-container {
  width: 1092px;
  margin: 0 auto;
  position: relative;
  min-height: calc(100% - 180px);
  background-color: rgb(255, 255, 255);
}

.plan-table-header {
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding: 70px 0px 50px 100px;
}

.plan-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
  }
  
  .plan-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
  }
  
  .plan-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
  
  .plan-table-column {
    padding: 15px 5px;
  }