.main_content{
    height: 100%;
}

.main_banner{
    background-image: url("./blueocean.jpg");;
    width: 100%;
    height: calc(100vh - 150px);
    max-height: 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_banner_text{
    height: 60%;
}
.main_banner_text h1{
    font-size : 40px;
    font-weight: normal;
    color: white;    
}

.main_banner_text h3{
    font-size : 60px;
    font-weight: bold;
    color: white;
    margin: 30px 0;
}

.main_banner_text h4{
    font-size : 14px;
    font-weight: normal;
    color: white;    
}

.main_banner_text_btn{
    width: 38%;
    border: 1px solid white;
    height: 18%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 100px;
    
}
.main_banner_text_btn p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}
.main_banner_text_btn:hover{
    background-color: gray;
    opacity: 0.6;
}
.main_content_dep{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
.main_content_dep >div{
    width: 100%;    
}
.main_content_dep2 >div{
    display: inline-block;
}
.main_content_dep >div h3,.main_content_dep >div h1{
    display: inline-block;
}
.main_content_dep >div h1{
    font-size: 30px;
}
.main_content_dep >div h3{
    font-size: 18px;
    font-weight: bold;
}
.content_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}