.main_content{
    height: 100%;
    position: relative;
    width: 100%;
    top: 10vh;
    z-index: 99;
    overflow: hidden;
}
.main_banner_wrap{
    display: flex;
    width: 300%;
    position: relative;
    left: 0;
    transition: 1s;
    
}
.main_banner{
    background-image: url("./blueocean.jpg");
    width: 100%;
    height: calc(100vh - 150px);
    max-height: 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.bg_2{
    background-image: url("../image/bannerbg3.jpg");    
}

.bg_3{
    background-image: url("../image/bannerbg2.jpg");    
}

.main_banner_text{
    height: 60%;
    display: grid;
    place-items: center;
}
.main_banner_text h1{
    font-size : 2.4vw;
    font-weight: normal;
    color: white;    
    font-family: 'BMJUA';
}

.main_banner_text h3{
    font-size: 2.5vw;
    color: white;
    line-height: 20vh;
    font-family: 'BMJUA';
}

.main_banner_text h4{
    font-size: 1.8vw;
    font-weight: normal;
    color: white;
    font-family: 'BMJUA';
    letter-spacing: 0.2vw;
}

.main_banner_text_btn{
    width: 32%;
    border: 3px solid white;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 40%;
    
}
.main_banner_text_btn a{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.main_banner_text_btn p{
    font-size: 1.1em;
    color: white;
    font-weight: 400;
    font-family: 'BMJUA';
}
.main_banner_text_btn:hover{
    background-color: gray;
    opacity: 0.6;
}
.main_banner_text_1 {
    height: 100%;
    opacity: 0.8;
    letter-spacing: 0.4vw;
    
}
.main_content_dep{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
.main_content_dep >div{
    width: 100%;    
}
.main_content_dep2 >div{
    display: inline-block;
}
.main_content_dep >div h3,.main_content_dep >div h1{
    display: inline-block;
}
.main_content_dep >div h1{
    font-size: 30px;
}
.main_content_dep >div h3{
    font-size: 18px;
    font-weight: bold;
}
.content_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}