
.show-menu{
    width: 18.6%;
    padding: 0 1%;
    background-color: #f7fbfc;
    height: 100%;
    float: right;
    position: fixed;
    right: 0px;
    z-index: 999;
    top: 0;
    transition: 1.4s;
}
    
.hide-menu{
    position: fixed;
    width: 18.6%;
    padding: 0 1%;
    height: 100%;
    float: right;
    right: 0;
    top:-100%;
    transition: 1.4s;
    pointer-events: none;
}

.show-btn{
    opacity: 1;
    transition: 2.0s;
}

.hide-btn{
    opacity: 0;
    transition: 2.0s;
    pointer-events: none;
}

