
.loginpage {
    background-color: rgb(255, 255, 255);;
    min-height: calc(100% - 100px);
    text-align: center;
}

.logo img {
    padding: 100px 0 100px 0;
    width: 500px;
}

a > .kakaoImg {
    margin-top: 130px;
}

.loginpage a {
    display: inline-block;
}

html, body {
    height: 100%;
}    

body > div {
    height: 100%;
}